{% extends "base.html" %}

<!-- Head -->
 {% block title %}Post List{% endblock title %}

  <!-- Main Content -->

   {% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Post List</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
          <a href="post/{{ post.id_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">{{ post.tags | join(sep=" ") }}</h3>
          </a>
          <p class="post-meta text-right"><a href="{{ post.id_url }}" type="date">{{ post.create_time | date(format="%e %b %Y")}}</a></p>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr>
  {% endblock content %}

</html>
